In [1]:
fruits = ['banana','orange','grapes','tomatoes','mango','pineapple','blue berries','black berries']
fruits_n = []
for fruit in fruits:
     if 'n' in fruit:
            fruits_n.append(fruit)

In [2]:
print(fruits_n)

['banana', 'orange', 'mango', 'pineapple']

In [3]:
# using list comprehension
new_list = [x for x in fruits if 'berries' in x]
print(new_list)

['blue berries', 'black berries']

In [4]:
# addding two lists together
a = [1,2,3,4,5,6]
b= [3,4,5,6,4,32]
a.extend(b)

In [5]:
a

[1, 2, 3, 4, 5, 6, 3, 4, 5, 6, 4, 32]

In [6]:
# printing odd numbers list

empty = []
new_list = [i for  i in range(100)if i % 2 != 0]
empty.append(new_list)

In [7]:
print(empty)

[[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]]

In [8]:
# printing even numbers list
empty_even = []
even_numbers = [x for x in range(100)if x%2==0]
empty_even.append(even_numbers)

In [9]:
print(empty_even)

[[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]]

In [10]:
empty_even1 = []
even_numbers1 = [x for x in range(100)if x%2==0]
empty_even1.append(even_numbers1)

In [11]:
print(empty_even1)

[[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]]

In [12]:
lis1 = ["Ehtesham","Reema",5,7,23,True]
display(lis1)

['Ehtesham', 'Reema', 5, 7, 23, True]

In [13]:
lis1.append("Hassan")

In [14]:
lis1

['Ehtesham', 'Reema', 5, 7, 23, True, 'Hassan']

In [15]:
#  for insert mention index number where you want to have it

lis1.insert(1,'Shumaila')

In [16]:
lis1

['Ehtesham', 'Shumaila', 'Reema', 5, 7, 23, True, 'Hassan']

In [17]:
lis1.pop()

'Hassan'

In [18]:
lis1

['Ehtesham', 'Shumaila', 'Reema', 5, 7, 23, True]

In [19]:
lis1.append("Hassan")

In [20]:
lis1

['Ehtesham', 'Shumaila', 'Reema', 5, 7, 23, True, 'Hassan']

In [21]:
len(lis1)

8

In [22]:
# using slice to get the desired index number
lis1_slice = lis1[-5:]

In [23]:
lis1_slice

[5, 7, 23, True, 'Hassan']

In [24]:
obj = ["Even" if i%2==0 else "Odd" for i in range(50)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [25]:
ob = ["Even" if i%2==0 else "Odd" for i in range(19)]
print(ob)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

# List slice

In [26]:
list_1 = [10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40]

In [27]:
len(list_1)

31

In [28]:
print(list_1[:-1:2])

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [29]:
print(list_1[-31:-10])

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [30]:
# print the last element in the list 40
print(list_1[-1::])

[40]

# Dictionary

In [31]:
dict1 = {
    'name':'Ehtesham Ali Khan',
    'Age': 28,
    'Address': 'London',
    'Profession': 'Enterpreneur'
}
print(dict1)

{'name': 'Ehtesham Ali Khan', 'Age': 28, 'Address': 'London', 'Profession': 'Enterpreneur'}

In [32]:
dict1['Age']

28

In [33]:
print(dict1)

{'name': 'Ehtesham Ali Khan', 'Age': 28, 'Address': 'London', 'Profession': 'Enterpreneur'}

In [34]:
dict1.get('Age')

28

In [35]:
dict1['name']

'Ehtesham Ali Khan'

In [36]:
for key in dict1:
    print(key)

name
Age
Address
Profession

# Use [items] to iterate thorough a dictionary keys and values

In [37]:
#iterate thorough an item
a = dict1.items()
for items in a:
    print(items)

('name', 'Ehtesham Ali Khan')
('Age', 28)
('Address', 'London')
('Profession', 'Enterpreneur')

In [38]:
#This is the another method
for items in dict1.items():
    print(items)
    print(type(items))

('name', 'Ehtesham Ali Khan')
<class 'tuple'>
('Age', 28)
<class 'tuple'>
('Address', 'London')
<class 'tuple'>
('Profession', 'Enterpreneur')
<class 'tuple'>

In [39]:
# Changing the value of name to Hassan Ali Khan
dict1['name'] = 'Hassan Ali Khan'

In [40]:
dict1.items()

dict_items([('name', 'Hassan Ali Khan'), ('Age', 28), ('Address', 'London'), ('Profession', 'Enterpreneur')])

## To access  single [value] in dictionary use .get(), and for [keys] use .keys(), for accessing all the values in dictionary use .values()

In [41]:
dict1.keys()

dict_keys(['name', 'Age', 'Address', 'Profession'])

In [42]:
dict1.get('name')

'Hassan Ali Khan'

In [43]:
dict1.values()

dict_values(['Hassan Ali Khan', 28, 'London', 'Enterpreneur'])

### items() is used for accessing key value pairs

In [44]:
display(dict1)

{'name': 'Hassan Ali Khan',
 'Age': 28,
 'Address': 'London',
 'Profession': 'Enterpreneur'}

### use update method to change all the items in the dictionary

In [45]:
dict1.update({'name':"Seemab Shaheen",'Age':25,'Address':'London','Profession':'Teacher'})

In [46]:
print(dict1)

{'name': 'Seemab Shaheen', 'Age': 25, 'Address': 'London', 'Profession': 'Teacher'}

### use pop() fo removing items

In [47]:
dict1.pop('Profession')

'Teacher'

In [48]:
dict1

{'name': 'Seemab Shaheen', 'Age': 25, 'Address': 'London'}

In [49]:
# del is also used for removing 
del dict1['Address']

In [50]:
dict1

{'name': 'Seemab Shaheen', 'Age': 25}

In [51]:
# clear () method empties the dictionary

In [52]:
dict1.clear()

In [53]:
dict1

{}

In [54]:
#del keyword delete the dictionary completely 
# del dict1

In [55]:
# dict1

In [56]:
Wife = {
    "name": "ayesha noor",
    "age": 24,
    "married": "Yes",
    "children": 1,
    "address":"rawalpindi"
}

In [57]:
# using loop to access all the keys and values in Wife dictionary
for items in Wife.items():
    print(items)

('name', 'ayesha noor')
('age', 24)
('married', 'Yes')
('children', 1)
('address', 'rawalpindi')

In [58]:
# use loop for access all the values in wife dictionary
for values in Wife.values():
    print(values)

ayesha noor
24
Yes
1
rawalpindi

In [59]:
# print all the values in dictionary one by one
for x in Wife:
    print(Wife[x])

ayesha noor
24
Yes
1
rawalpindi

In [60]:
# making a copy of the dictionary
a = dict(Wife)
for x, y in a.items():
    print(x,y)

name ayesha noor
age 24
married Yes
children 1
address rawalpindi

# Python If .... Else

In [61]:
a = 25
b = 30
if a > b:
    print("a is greater",a)
else:
    print('b is greater',b)

b is greater 30

In [62]:
#short hand
if a>b:print('a is greater')

In [63]:
#short hand if else
print('A')if a>b else print('B')

B

In [64]:
# this techinique is knowns as ternory operator or conditional expression
print('A') if a>b else print('a is equal to b') if a==b else print("B")

B

In [65]:
if b>a:
    pass

In [66]:
#nested statement
x = 15

if x>10:
    print("above ten")
    if x>20:
        print('above twenty')
        if x>30:
            print('above thirty')
        else:
            print('above forty')

above ten

# For and while loop

# While Loop

With the while loop we can execute a set of statements as long as a condition is true

In [67]:
i = 1
while i<100:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [68]:
i = 1
while i<100:
    if i==13:
        print(i)
    i += 1

13

with the **break** statement we can stop the loop even if the while condition is true

In [69]:
i = 1
while i<=100:
    print(i)
    if i==50:
        break
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

with the **continue** statement we can stop the current iteration, and continue with the next

In [70]:
i = 0
while i<10:
    i += 1
    if i==5:
        continue
    print(i)  # 5 will not be printed in the counting

1
2
3
4
6
7
8
9
10

with the **else** statement we can run a block of code once when the condition is no longer is true:

In [71]:
i = 1
while i<=10:
    print(i)
    i += 1
else:
    print("The given condition is met")

1
2
3
4
5
6
7
8
9
10
The given condition is met

# For Loop

a **for** loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)

In [72]:
fruits = ['apple','banana','cherry','pineapple','jelly']
for x in fruits:
    print(x)

apple
banana
cherry
pineapple
jelly

In [73]:
# loop thorough a string
for letters in 'Ehtesham Ali Khan':
    print(letters)

E
h
t
e
s
h
a
m

A
l
i

K
h
a
n

With the **break** statement we can stop the loop before it has looped thorough all the items:

In [74]:
# exit the loop when the x is banana

fruits1 = ['banana','cherry','apple']
for items in fruits1:
    print(items)
    if items == "cherry":
        break

banana
cherry

In [75]:
# exit the loop when x is "banana", but this time the break comes
# before the print

# it will show the value before the break applied

In [76]:
meat = ['beef','mutton','fish','chicken']
for itm in meat:
    if itm == "fish":
        break
    print(x)

jelly
jelly

In [77]:
fruits_8 = ["apple", "banana", "cherry"]
for x in fruits_8:
    if x == "banana":
        break
    print(x)

apple

In [78]:
vegs = ['tomatoes','brinjal','carrot','turnip','lady finger']
for x in vegs:
    if x == 'carrot':
        break
    print(x)
# It will print only values which comes before the break statement

tomatoes
brinjal

In [79]:
vegs = ['tomatoes','brinjal','carrot','turnip','lady finger']
for x in vegs:
    print(x)
    if x == 'carrot':
        break
# this print the values only that are included in the break statement

tomatoes
brinjal
carrot

with the **continue** statement we can stop the current iteration of the loop, and continue with the next:

In [80]:
meat = ['mutton','beef','chicken']
for x in meat:
    if x == 'beef':
        continue
    print(x)

mutton
chicken

## The range() function

The loop thorough a set of code a specified number of times, we can use the range() function.
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

## Use the range() function

In [81]:
# we can use range to print counting

for x in range(0,100,10): # first argument is start, 2nd is finishing, 3rd is step 
    print(x)

0
10
20
30
40
50
60
70
80
90

In [82]:
for counting in range(10):
    print(counting)

0
1
2
3
4
5
6
7
8
9

In [83]:
for counting in range(8):
    print(counting)
else:
    print("Counting is finally finished")

0
1
2
3
4
5
6
7
Counting is finally finished

In [84]:
# else block will not executed if we applied break statement
for x in range(52):
        if x== 12: 
              break
        print(x)
else:
    print("finished")
#  this will stop the loop when the current condition met

0
1
2
3
4
5
6
7
8
9
10
11

In [85]:
for x in range(20):
        if x== 2: 
              continue
        print(x)
else:
    print("finished")
# this will overlap  the  continue value inthe loop

0
1
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
finished

In [86]:
#nested loop
x = [1,3,5,7]
y = [2,4,6,8]
z = []
for val1 in x:
        for val2 in y:
            print(val1.extend(val2))
# could not merge two int lists into a single list.

AttributeError: 'int' object has no attribute 'extend'

In [ ]:
%debug

In [ ]:
# for x in range(1,100,10):
#     print(x)

# Tuple

Tuples are ordered, unchangeable, allow duplicate members

In [ ]:
tuple1 = ("Ehtesham","Seemab","Hassan",28,26,22,False,True,True)

In [ ]:
display(tuple1)

In [ ]:
# to add value in tuple first you have to change it to list

list_t = list(tuple1)

In [ ]:
list_t.append("Dua")

In [ ]:
list_t.append("Umer")

In [ ]:
tuple_1 = tuple(list_t)

In [ ]:
tuple_1

In [ ]:
if "Ehtesham" in tuple_1:
    print("We have it ")

In [ ]:
if "Reema" in tuple1:
    print("Upcoming in the list")

In [ ]:
a = tuple_1[0]

In [ ]:
print(a)

In [ ]:
tuple_1[2]

In [ ]:
tuple_1[7]

In [ ]:
len(tuple_1)

In [ ]:
tuple_1[10]

In [ ]:
tuple_1

In [ ]:
#unpacking tuple
a,b,*c, = ("Ehtesham","Ali","Khan","Hassan","Ali","Khan","Seemab","Shaheen","Khurshida bibi","Muhammad Pervaiz","Umer Javed")

In [ ]:
c

In [ ]:
b

In [ ]:
a

# Sets

Sets are unordered, unchangeable and don't allow duplicate values

In [ ]:
# sets are witten with curly brackets

set_1 = {"Ehtesham","Hassan",1,2,3}
print(set_1)

In [ ]:
set_1.add("reema")

In [ ]:
set_1

In [ ]:
set_1.remove(3)

In [ ]:
set_1

In [ ]:
for elements in set_1:
    print(elements)

In [ ]:
len(set_1)

In [ ]:
type(set_1)

In [ ]:
# using update method you can add element in this set

set_2 = [2,"Seemab","Umar","Sidra"]

In [ ]:
set_1.update(set_2)

In [ ]:
print(set_1)

In [ ]:
set_1.discard("reema")

In [ ]:
set_1

# Functions

In [ ]:
def show_max(a,b):
    if a>b:
        print(a, " is maximum")
    elif a == b:
        print(a, " is equal to ",b)
    else:
        print(b, "is maximum")

In [ ]:
a = int(input())
b = int(input())
print(show_max(a,b))

In [ ]:
# Loal variable example
x = 100
def local_func(x):
    print("value of x outside the function is ",x)
    x = 50
    print("value of x inside the function is ",x)
local_func(x)
print('x is still:',x)

In [ ]:
# global variable example
y = 100
def global_func():
    global y # declaration of global variable
    print("value of y outside the function is ",y)
    y = 200 # value of y is  changed here
    print("value of y after changing the function",y)
    
global_func()
print("global variable y value after changing",y)

In [ ]:
# fucntin with default argument valus
def default_args(city,name="Ehtesham"):
    print("name of the city is ",city,"name of person is ",name)

default_args("Islamabad")

In [ ]:
default_args("London","Hassan Ali Khan")

In [ ]:
def total(initial=5,*numbers,**keywords):
    count = initial
    print('count',count)
    for number in numbers:
        count += number
        print('count',count)
    for key in keywords:
        count += keywords[key]
    return count
print(total(vegetables=50,fruits=150))

In [ ]:
# values with **args accept values in dictionaries
def total(**dicti):
    for key, value in dicti.items():
        print("%s = %s" %(key,value))
total(name="Ehtesham",age=28)

In [ ]:
def func(*marks,**std_name):
    for marks in marks:
        print("Marks = %s"% marks)
    for key,value in std_name.items():
        print("%r = %r" % (key,value))
func(900,981,982,983,984,982,981, std1 = "Ehtesham Ali Khan", std2 = "Hassan Ali Khan", std3 = "Seemab Shaheen")

In [ ]:
def  max_n(a,b):
    """This fucntion returns the maximum number in the result"""
    if a>b:
        return a
    elif a==b:
        return a==b
    else:
        return b
print(max_n(100,200))

In [ ]:
help(max_n)

In [ ]:
def show_max(a,b):
    if a > b:
        return a
    elif a<b:
        return b
    else:
        return "None"

In [ ]:
print(show_max(1000,1000))

In [ ]:
car = "Ferrari"

def eak_cars(car):
    if car == "Toyota":
        return "She have a japanese cars"
    elif car == "Ford":
        return "She has a English Car"
    elif car == "Bugat":
        return "OMG! She has a French Car"
    else:
        return "Please type car company name"

In [ ]:
print(eak_cars("Toyota"))

In [ ]:
print(eak_cars(""))

In [ ]:
def family_tree(**name):
    for key,value in name.items():
        print("%s => %s"%(key,value))

In [ ]:
family_tree(name="Ehtesham Ali Khan",second_son = "Hassan Ali Khan",daughter_name ="Seemab Shaheen", mother_name = "Khurshida bibi",father_name = "Muhammad Pervaiz",grandmother_name = "Sahb Nishan", grand_father = "Mutawali Khan")

In [ ]:
def family_name(*name):
    for name_ in name:
        print("Name => %s"%(name_))

In [ ]:
family_name("Ehtesham","Hassan","Seemab","Khurshida","Muhammad Pervaiz","Hamna dua","Sidra","Umar")

In [ ]:
def cube_(a):
    return a*a*a

In [ ]:
cube_(20)

In [ ]:
def square_(n):
    return n*n

In [ ]:
square_(400)

In [ ]:
# Lambda Function or ananoymous function
cube = lambda x: x*x*x

In [ ]:
print(cube(16))

In [ ]:
square = lambda x: x*x

In [ ]:
square(int(input()))

In [ ]:
# Receivng multiple inputs at a time
a,b,c = input("Please enter values").split()
print("First value is ",a)
print("Second value is",b)
print("Third value is",c)

In [ ]:
b = "I will have a range rover in life"
print(b,end=" InshaaAllah !")

In [ ]:
y = "Ehtesham Ali Khan"
z = "Owns a Black Mercedes Car"
print(y,z, sep='\n', end="!")

In [ ]:
y = "Ehtesham Ali Khan"
z = "Owns a Black Mercedes Car"
print(y,z, sep='\n\n', end="!")

In [ ]:
y = "Ehtesham Ali Khan"
z = "Owns a Black Mercedes Car"
print(y,z, sep='\n\n\n', end="!")

# Python Classes - Object Oriented Programming

In [ ]:
# Public, Private and Protected Variable

# If anything did not write with the variable it will be 
# - considered as Public variable

In [ ]:
class family:
    # Attribute/information  of the family
    def __init__(self,fname,mname,sname,dname,gfname,gmname):
        self.father_name = fname
        self.mother_name = mname
        self.son_name = sname
        self.daughter_name = dname
        self.grand_father_name = gfname
        self.grand_mother_name = gmname
        
    # Defining methods, methods tell us about them what they do
    def father_nam(self):
        return "Your father name is {}".format(self.father_name)
    def dada_alive(self):
        return "He is not alive and his name was {}".format(self.grand_father_name)
    
    def dadi_alive(self):
        return "She is alive and her name is {}".format(self.grand_mother_name)
    
shani_family = family("Muhammad Pervaiz","Khurshida Bibi","Ehtesham Ali Khan","Seemab Shaheen","Mutawali Khan","Sahb Nishan") 
print(shani_family.dada_alive())
print(shani_family.dadi_alive())
print(shani_family.father_nam())

In [ ]:
class Ehtesham:
    """This class provides information everything about the Ehtesham"""
    def __init__(self,cars,bikes,helicopter,airplanes,wife,location,profession):
        self.eak_cars = cars
        self.eak_bikes = bikes
        self.eak_helicopter = helicopter
        self.eak_airplanes = airplanes
        self.eak_wife = wife
        self.eak_resident = location
        self.eak_profession = profession
        
    def details_eak(self):
        return f"He has {self.eak_cars} cars ,{self.eak_bikes} bikes,{self.eak_helicopter} Helicopter,{self.eak_airplanes} Airplanes,and his wife name is {self.eak_wife}"

In [ ]:
obj1 = Ehtesham(0,0,0,0,"Reema","London","Businessman")
print(obj1.details_eak())

In [ ]:
obj2 = Ehtesham(1,0,0,0,"Sidra","Toronto","Businessman")
print(obj2.details_eak())

# Assert

python provides the assert statement to check if a given logical expression is true or false. Program execution proceed only if the expression  is true and raise the assertion error when it is false. The following code shows the usage of the assert statement.

In [ ]:
# Example
try:
    n = int(input("Please enter your number "))
    assert n%2 == 0
    print("This is an even number")
except AssertionError:
    print("Please enter even number (number which becomes zero by diving with 2)")

In [ ]:
# Use of assert in class
class Bank:
    "This class provides information about the bank employess and departments"
    def __init__(self,cashiers,creditofficers,aoofficers,clearingofficers,remittanceofficer,bmname,internation_branch):
        try:
            assert type(cashiers) == int
            assert type(creditofficers) == int
            assert type(aoofficers) == int
            assert type(clearingofficers) == int
            assert type(remittanceofficer) == int
            assert type(bmname) == str
            assert type(international_branch) == bool
        except NameError:
            print("Please enter value for variables")
        except TypeError:
            print("Please assign relevant datatype to the variable")
        except Exception as ex:
            print(f"Alert! {ex} Error found in program")
        else:
            self.cashiers = cashiers
        finally:
            self.creditofficers = creditofficers
            self.aoofficers = aoofficers
            
        self.cashiers = cashiers
        self.bmname = bmname
            
    def info_bank_employees(self):
        print(f"Bank al Habib Attock Br has {self.cashiers},{self.creditofficers}, name of the BM is {self.bmname},This is not a International Branch")

In [ ]:
ob_1 = Bank(8,5,2,1,1,"Ibn e Ali",False)
print(ob_1.info_bank_employees())

## Class Inheritance - Parent Class and Child Class

In [109]:
# This is parent class

class Person:
    """This provides information about the person attributes and methods"""
    def __init__(self,name,age,color,race,billionaire):
        try:
            assert type(name) == str
            assert type(age) == float
            assert type(color) == str
            assert type(race) == str
            assert type(billionaire) == bool
        except AssertionError:
            print("Please enter relevant data type")
        
        self.person_name = name
        self.person_age = age
        self.person_color = color
        self.person_race = race
        self.is_billionaire = billionaire
        
    def info_person(self):
            return f"His name is {self.person_name} and age is {self.person_age}, and he has {self.person_color} color from {self.person_race}. He is {self.is_billionaire} Billionaire"

In [110]:
# p1 = Person("Ehtesham Ali Khan",28,"Brown","Asian",True)
# print(p1.info_person())

In [111]:
# This child class Student  has all the properties of Person Parent Class
class Child(Person):
    "This is the child class of Person class and inherit all the properties of parent  class"
    pass

In [112]:
p1 = Child("Ehtesham Ali Khan",28,"Brown","Asian",True)
print(p1.info_person())

Please enter relevant data type
His name is Ehtesham Ali Khan and age is 28, and he has Brown color from Asian. He is True Billionaire

In [119]:
class Person1:
    def __init__(self,fname,lname):
        self.first_name = fname
        self.last_name = lname
    
    def detail_Person1(self):
        print(f"His first name is {self.first_name} and last name is {self.last_name}")

In [120]:
class student1(Person1):
    def __init__(self,fname,lname,year,program):
        super().__init__(fname,lname) # this inherit all the properties/parameters and methods/functions from parent class
        self.class_year = year
        self.class_program = program
        
    def welcome(self):
        print(f"Welcome {self.first_name}{self.last_name} to the class of {self.class_year} for the program {self.class_program}")

In [121]:
std1= student1("Ehtesham","Khan", 2023, "Arificial Intelligence")
std1.welcome()

Welcome EhteshamKhan to the class of 2023 for the program Arificial Intelligence

#  Regular Expression

A RegEx or Regular Expression is a sequence of characters
that forms a search pattern.

RegEx can be used to check if a string contains the specified
search pattern

In [122]:
# For regular expression, import re
import re

In [124]:
txt = "The rain in Pakistan"
x = re.search("^The.*Pakistan$",txt)
if x:
    print("Yes we have that match")
else:
    print("No match")

Yes we have that match

1. ^ Starts with  "^The"
2. $  used for checking end "Pakistan$"
3. * Zero or more occurences  "he.*0"
4. [] a set of characters "[a-m]"
5. + one or more occurances
6. ? Zero or one Occurances "he.?o"
7. | Exactly the specified number of occurances    "he.{2}0"

In [132]:
y = "Ehtesham Ali Khan"
z = re.search("^E.*n$",y)
if z:
    print("Match")
else:
    print("Does not Match")

Match