# Functions in Python
- Why Functions
- Function Definition
- Positional and Keyword Arguments in Function

In [2]:
num = 24

In [3]:
def even(num):
    if num%2==0:
        print("The number is even")
    else:
        print("the number is odd")

In [4]:
even(23)

the number is odd

In [5]:
even(24)

The number is even

In [14]:
def two_numbers(num1,num2):
    if num1%2==0 and num2%2==0:
        print("Both numbers are even")
    elif  num1%2==0 and num2%2 !=0:
        print("Number is even and Number 2 is odd")
    elif num1%2 !=0 and num2%2 == 0:
        print("Number 1 is even and Number 2 is odd")
    else:
        print("Both are odd numbers")
    return "Their sum is {}".format(num1+num2)

In [15]:
two_numbers(2,3)

Number is even and Number 2 is odd

'Their sum is 5'

In [16]:
two_numbers(10,15)

Number is even and Number 2 is odd

'Their sum is 25'

In [17]:
two_numbers(11,11)

Both are odd numbers

'Their sum is 22'

In [18]:
two_numbers(11,12)

Number 1 is even and Number 2 is odd

'Their sum is 23'

## Positional Arguments and Keyword argument

In [25]:
def human(name,country="Pakistan"): # name is positional argument and country is keyword argument
    print("My name is {} and my country is {}".format(name,country))

In [26]:
human("Ehtesham","Saudia Arabia")

My name is Ehtesham and my country is Saudia Arabia

In [29]:
human("Ali")

My name is Ali and my country is Pakistan

You can also present positional argument with one * and keyword argument with **

In [34]:
def two_arguments(*args,**kwargs):
    print(args)
    print(kwargs)

In [37]:
two_arguments("Ehtesham","Ali","Khan", name="Ehtesham",age=28,car="No",bike="yes")

('Ehtesham', 'Ali', 'Khan')
{'name': 'Ehtesham', 'age': 28, 'car': 'No', 'bike': 'yes'}

#### we can present list in positional argument and dictionary in **keyword argument

In [42]:
list1=[1,2,3,4,5,6,7,8,9,10,11]
dict1={
    'name':"Ehtesham",
    'age':28,
    'car':"No",
    'bike':"yes"
}
two_arguments(*list1,**dict1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)
{'name': 'Ehtesham', 'age': 28, 'car': 'No', 'bike': 'yes'}

In [43]:
list1=[1,2,3,4,5,6,7,8,9,10,11]
dict1={
    'name':"Ehtesham",
    'age':28,
    'car':"No",
    'bike':"yes"
}
two_arguments(list1,dict1)

([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], {'name': 'Ehtesham', 'age': 28, 'car': 'No', 'bike': 'yes'})
{}

In [44]:
def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2 ==0:
            even_sum = even_sum + i
        else:
            odd_sum = odd_sum + i
    return even_sum,odd_sum

In [45]:
evenoddsum([1,2,3,4,5])

(6, 9)

In [47]:
b = [20,40,50,49,27]
evenoddsum(b)

(110, 76)

# Lambda Function \ Anonymous Function

function with no name

In [48]:
# You can write only one expression in lambda function

In [49]:
def add(num1,num2):
    return num1+num2

In [50]:
add(10,12)

22

In [51]:
# using lambda
addittion = lambda num1,num2:num1+num2

In [52]:
addittion(10,12)

22

In [53]:
def even_number(num1):
    if num1%2==0:
        return True
    else:
        return False

In [54]:
even_number(23)

False

In [55]:
even_number(24)

True

In [56]:
even_number = lambda num1:num1%2==0

In [57]:
even_number(23)

False

In [58]:
even_number(22)

True

In [59]:
def add(x,y,z):
    return x+y+z

In [60]:
add(10,12,14)

36

In [61]:
add = lambda x,y,z:x+y+z

In [62]:
add(10,12,14)

36

# Map fucntion in python

In [63]:
def even_numbers(num):
    if num%2==0:
        return "The {} is even".format(num)
    else:
        return "The {} is odd".format(num)

In [64]:
even_numbers(100)

'The 100 is even'

if we have list of numbers to check to check which number is even and which number is odd then we could not use this method we have to use another method that is **map** method

In [65]:
lst= [1,22,23,24,25,26,27,28,29,30]

In [66]:
# map method takes two argument one is function, and the other is list
map(even_numbers,lst)

In [70]:
tuple(map(even_numbers,lst)) # explicitly we have to give a data structures tuple,set,list

('The 1 is odd',
 'The 22 is even',
 'The 23 is odd',
 'The 24 is even',
 'The 25 is odd',
 'The 26 is even',
 'The 27 is odd',
 'The 28 is even',
 'The 29 is odd',
 'The 30 is even')

In [71]:
list(map(even_numbers,lst))

['The 1 is odd',
 'The 22 is even',
 'The 23 is odd',
 'The 24 is even',
 'The 25 is odd',
 'The 26 is even',
 'The 27 is odd',
 'The 28 is even',
 'The 29 is odd',
 'The 30 is even']

In [72]:
set(map(even_numbers,lst))

{'The 1 is odd',
 'The 22 is even',
 'The 23 is odd',
 'The 24 is even',
 'The 25 is odd',
 'The 26 is even',
 'The 27 is odd',
 'The 28 is even',
 'The 29 is odd',
 'The 30 is even'}

# Filter Function

In [73]:
def even_(num):
    if num%2==0:
        print("The num is even")

In [75]:
even_(2)

The num is even

In [84]:
lst=[1,2,3,4,5,6,7,8,9,0]

In [85]:
filter(even_,lst)

In [86]:
list(filter(even_,lst))

The num is even
The num is even
The num is even
The num is even
The num is even

[]

In [87]:
set(filter(even_,lst))

The num is even
The num is even
The num is even
The num is even
The num is even

set()

In [88]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8, 0]

In [89]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False, True, False, True]