In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r'C:\Users\Pc World Computers\Downloads\Ijaz - data.xlsx')

In [3]:
df.head(10)

,Column1,call_org_num,CALL_DIALED_NUM,IMEI,CALL_START_Date,Call_Start_Time,CALL_END_Date,Call_End_Time,INBOUND_OUTBOUND_IND,Call_Network_Volume,Lac_Id,Site_Id,Cell_SITE_ID,lat,longitude,CALL_TYPE,location
0,923022231404,923022231404,923003793494,35451387002712,2022-04-29,22:07:47,2022-04-29,22:37:47,OUTGOING,1800,332,9083,9083332,33.5103,72.2391,CALL,"Village & P.O. Mithial Chowk, Tehsil Jand, Dis..."
1,923022231404,923025037110,923022231404,35451387002712,2022-06-28,11:45:15,2022-06-28,11:47:42,INCOMING,147,332,9112,9112332,33.5568,72.2253,CALL,"Village Thatta, Near Basal Railway Phatek, Teh..."
2,923022231404,923022231404,923003793494,35451387002712,2022-05-21,11:14:21,2022-05-21,11:32:49,OUTGOING,1108,332,9112,9112332,33.5568,72.2253,CALL,"Village Thatta, Near Basal Railway Phatek, Teh..."
3,923022231404,923022231404,923025468338,35451387002712,2022-05-31,20:37:14,2022-05-31,20:55:37,OUTGOING,1103,332,9083,9083332,33.5103,72.2391,CALL,"Village & P.O. Mithial Chowk, Tehsil Jand, Dis..."
4,923022231404,923465960096,923022231404,35451387002712,2022-06-25,05:08:34,2022-06-25,05:08:50,INCOMING,16,332,9083,9083332,33.5103,72.2391,CALL,"Village & P.O. Mithial Chowk, Tehsil Jand, Dis..."
5,923022231404,923465960096,923022231404,35451387002712,2022-06-25,05:07:35,2022-06-25,05:07:48,INCOMING,13,332,9083,9083332,33.5103,72.2391,CALL,"Village & P.O. Mithial Chowk, Tehsil Jand, Dis..."
6,923022231404,923022231404,923025468338,35451387002712,2022-05-17,14:02:54,2022-05-17,14:19:38,OUTGOING,1004,332,9083,9083332,33.5103,72.2391,CALL,"Village & P.O. Mithial Chowk, Tehsil Jand, Dis..."
7,923022231404,923022231404,923499298209,35451387002712,2022-04-12,18:53:56,2022-04-12,19:10:35,OUTGOING,999,332,9083,9083332,33.5103,72.2391,CALL,"Village & P.O. Mithial Chowk, Tehsil Jand, Dis..."
8,923022231404,923005976007,923022231404,35451387002712,2022-06-25,05:58:42,2022-06-25,05:58:49,INCOMING,7,332,9081,9081332,33.5103,72.2391,CALL,"Village & P.O. Mithial Chowk, Tehsil Jand, Dis..."
9,923022231404,923022231404,923411512974,35451387002712,2022-05-21,20:03:05,2022-05-21,20:17:15,OUTGOING,850,332,9083,9083332,33.5103,72.2391,CALL,"Village & P.O. Mithial Chowk, Tehsil Jand, Dis..."

In [4]:
df.shape

(2339, 17)

In [5]:
df.columns

Index(['Column1', 'call_org_num', 'CALL_DIALED_NUM', 'IMEI', 'CALL_START_Date',
       'Call_Start_Time', 'CALL_END_Date', 'Call_End_Time',
       'INBOUND_OUTBOUND_IND', 'Call_Network_Volume', 'Lac_Id', 'Site_Id',
       'Cell_SITE_ID', 'lat', 'longitude', 'CALL_TYPE', 'location'],
      dtype='object')

In [6]:
df_copy = df.copy()

In [7]:
df_copy.drop("Column1",axis=1,inplace=True)

In [8]:
df_copy.head(7)

,call_org_num,CALL_DIALED_NUM,IMEI,CALL_START_Date,Call_Start_Time,CALL_END_Date,Call_End_Time,INBOUND_OUTBOUND_IND,Call_Network_Volume,Lac_Id,Site_Id,Cell_SITE_ID,lat,longitude,CALL_TYPE,location
0,923022231404,923003793494,35451387002712,2022-04-29,22:07:47,2022-04-29,22:37:47,OUTGOING,1800,332,9083,9083332,33.5103,72.2391,CALL,"Village & P.O. Mithial Chowk, Tehsil Jand, Dis..."
1,923025037110,923022231404,35451387002712,2022-06-28,11:45:15,2022-06-28,11:47:42,INCOMING,147,332,9112,9112332,33.5568,72.2253,CALL,"Village Thatta, Near Basal Railway Phatek, Teh..."
2,923022231404,923003793494,35451387002712,2022-05-21,11:14:21,2022-05-21,11:32:49,OUTGOING,1108,332,9112,9112332,33.5568,72.2253,CALL,"Village Thatta, Near Basal Railway Phatek, Teh..."
3,923022231404,923025468338,35451387002712,2022-05-31,20:37:14,2022-05-31,20:55:37,OUTGOING,1103,332,9083,9083332,33.5103,72.2391,CALL,"Village & P.O. Mithial Chowk, Tehsil Jand, Dis..."
4,923465960096,923022231404,35451387002712,2022-06-25,05:08:34,2022-06-25,05:08:50,INCOMING,16,332,9083,9083332,33.5103,72.2391,CALL,"Village & P.O. Mithial Chowk, Tehsil Jand, Dis..."
5,923465960096,923022231404,35451387002712,2022-06-25,05:07:35,2022-06-25,05:07:48,INCOMING,13,332,9083,9083332,33.5103,72.2391,CALL,"Village & P.O. Mithial Chowk, Tehsil Jand, Dis..."
6,923022231404,923025468338,35451387002712,2022-05-17,14:02:54,2022-05-17,14:19:38,OUTGOING,1004,332,9083,9083332,33.5103,72.2391,CALL,"Village & P.O. Mithial Chowk, Tehsil Jand, Dis..."

In [9]:
df_copy.dtypes

call_org_num                    object
CALL_DIALED_NUM                  int64
IMEI                             int64
CALL_START_Date         datetime64[ns]
Call_Start_Time                 object
CALL_END_Date           datetime64[ns]
Call_End_Time                   object
INBOUND_OUTBOUND_IND            object
Call_Network_Volume              int64
Lac_Id                           int64
Site_Id                          int64
Cell_SITE_ID                     int64
lat                            float64
longitude                      float64
CALL_TYPE                       object
location                        object
dtype: object

# Printing only required columns

### Select columns by name

In [10]:
df_cols = df_copy[['call_org_num','CALL_DIALED_NUM','CALL_START_DT_TM','CALL_END_DT_TM']]

KeyError: "['CALL_START_DT_TM', 'CALL_END_DT_TM'] not in index"

In [ ]:
df_cols.head(50)

In [ ]:
df_copy.dtypes

### Select columns by index  using iloc

df_cols = df_copy.iloc[:,[1,2,5,6]]

In [ ]:
df_cols = df_copy.iloc[:,[0,1,4,5]]

In [ ]:
df_cols

# Group by

In [ ]:
df_copy.drop(['IMSI','IMEI','Lac_Id','Site_Id','Cell_SITE_ID','lat','longitude'],axis=1,inplace=True)

In [ ]:
df_group = df_copy.groupby('INBOUND_OUTBOUND_IND')

In [ ]:
for inb,outb in df_group:
    print(inb)
    print(outb)

In [ ]:
df_group.get_group("OUTGOING").head(50)

In [ ]:
df_group.get_group("INCOMING").head(50)

In [ ]:
df_group.max()

In [ ]:
df_group.min()

In [ ]:
df_group.median()

In [ ]:
df_group .describe()

In [ ]:
df_copy.columns

In [ ]:
df_copy.set_index('call_org_num',inplace=True)

In [ ]:
df_copy.dtypes

In [ ]:
df_copy[["CALL_START_DT_TM","CALL_END_DT_TM"]] = df_copy[["CALL_START_DT_TM","CALL_END_DT_TM"]].astype('str')

In [ ]:
df_copy.dtypes

In [ ]:
df_copy[["Call_Start_Date","Call_start_time"]] = df_copy[["CALL_START_DT_TM"]].object.split(" ", expand=True)